{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<style>

</style>
<body id="bg" style="background-image: url('{% static "img/fon.png"%}')">
    <div class="menu">
        <div class="conteiner">
          <div class="menu_inner">
            <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/Мебельлого.png'%}"/></a>
            </div>
            <ul class="nav">
                <li><a class="sale" href="{% url 'sale' %}">Ассортимент</a></li>
                <li><a class="otziv" href="{% url 'otziv' %}">Отзывы клиентов</a></li>
                <li><a class="kontakt" href="{% url 'kontakt' %}">Наши контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    <main>
    {% block contents %}
      <div class="drevo"><img src="{% static 'img/древо.png'%}"/></div>
      <h1 class="bazeh1">Добро пожаловать в "Мебельный Рай"</h1>
      <div class="opisanie">
        <p>В нашей мебельной компании качество и стиль встречаются в каждом изделии! Мы специализируемся на производстве высококачественной мебели, которая не только радует глаз, но и служит долгие годы. Наша команда опытных мастеров использует только лучшие материалы и современные технологии, чтобы создавать уникальные и функциональные решения для вашего дома или офиса. </p>
      </div>

      <div class="opisanie2">
        <p>Мы предлагаем широкий ассортимент мебели: от элегантных кроватей до стильных столов и практичных шкафов. Каждое изделие разрабатывается с учетом последних тенденций в дизайне, а также с акцентом на комфорт и удобство. Мы понимаем, что мебель — это не просто предметы интерьера, а важные элементы вашего пространства, которые создают атмосферу уюта и гармонии.</p>
      </div>

      <div class="opisanie3">
        <p>Наша компания гордится индивидуальным подходом к каждому клиенту. Мы готовы предложить персонализированные решения, учитывая ваши пожелания и особенности интерьера. Мы уверены, что качественная мебель должна быть доступной, поэтому предлагаем конкурентоспособные цены без ущерба для качества.</p>
      </div>

    {% endblock %}
    </main>
 
    <footer>
        <p>Электронная почта: <a href="">MebelMax116@mail.com</a></p>
        <p>Сайт несёт в себе ознокомительный контент для покупателя</p>  
    </footer>
</body>
</html>